.Topbar {
    display: block;
-webkit-box-sizing: content-box;
-moz-box-sizing: content-box;
box-sizing: content-box;
float: none;
z-index: auto;
width: auto;
height: auto;
position: static;
cursor: default;
opacity: 1;
margin: -1px;
padding: 20px;
overflow: hidden;
border: none;
-webkit-border-radius: 0 0 20px 20px;
border-radius: 0 0 20px 20px;
font: normal 16px/1 Impact, Charcoal, sans-serif;
color: rgba(255,255,255,1);
text-align: center;
-o-text-overflow: ellipsis;
text-overflow: ellipsis;
background: -webkit-linear-gradient(-90deg, rgba(43,45,39,1) 0, rgba(191,191,191,1) 100%);
background: -moz-linear-gradient(180deg, rgba(43,45,39,1) 0, rgba(191,191,191,1) 100%);
background: linear-gradient(180deg, rgba(43,45,39,1) 0, rgba(191,191,191,1) 100%);
background-position: 50% 50%;
-webkit-background-origin: padding-box;
background-origin: padding-box;
-webkit-background-clip: border-box;
background-clip: border-box;
-webkit-background-size: auto auto;
background-size: auto auto;
-webkit-box-shadow: 1px 1px 1px 0 rgba(0,0,0,0.3) ;
box-shadow: 1px 1px 1px 0 rgba(0,0,0,0.3) ;
text-shadow: 1px 1px 1px rgba(0,0,0,0.2) ;
-webkit-transition: none;
-moz-transition: none;
-o-transition: none;
transition: none;
-webkit-transform: none;
transform: none;
-webkit-transform-origin: 50% 50% 0;
transform-origin: 50% 50% 0;
}